@media (max-width: 767px) {
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #2a2123 0%,#4e3a32 100%);
  
}

h5 {
  margin: 0;
}
.background-menu {
   background-color: #ffff;
   display: flex;
   margin: 0 auto;
   width: calc(100% - 200px);
   height: 600px;
   
}

.left {
  width: 33.3%;
  position: relative;
  height: 600px;
  
 

}
.burger__img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  object-position: center;
}
.colortext {
  color:#FCC919;;

}
.price{
  width: 100%;
  background-color: black;
  color: #ffff;
  position: absolute;
  bottom: 10%;
  height: 300px;
  left: -10px;
  text-align: center; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  font-size: 24px; 
  
}

.er{
  font-weight: 400;
font-size: 24px;
text-align: center;
padding-top: 25px;
padding-bottom: 20px;
}


.right {
  width: 66.6%;
  background-color: white;
}

.btn__wrap {
  width: calc(100% - 200px);
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  
}
 
.btn {
  width: 150px;
  height: 60px;
  background-color: black;
  color: #ffff;
}

.price__wrap {
  display: flex;
  justify-content: space-around;
  align-items: center; /
}

.menu {
  border-bottom: 2px solid gray;
  position: relative;
  width: 180px;
  margin: 0;
  padding: 15px;
  text-align: center; 
  margin: 0 20px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu h5 {
  font-size: 24px; 
  font-weight: bold; 
}

.menu h5:nth-child(2) {
  font-size: 18px; 
}

.scuare {
  width: 10px;
  height: 10px;
  background-color: gray;
  position: absolute ;
left: calc(50% - 5px);
bottom: -6px;
transform: rotate(45deg);
}



 
 
 
 
 
 
 
 
 
 


